<nav class="bg-gray-800 p-4">
  <div class="container mx-auto flex items-center justify-between">
    
    <h1>Catedra 3</h1>

    
    <div class="hidden md:flex space-x-4">
      <a
        *ngIf="!(isLoggedIn$ | async)"
        class="text-gray-300 hover:text-white"
        routerLink="/login"
        routerLinkActive="font-bold"
        >Iniciar Sesión</a
      >
      <a
        *ngIf="!(isLoggedIn$ | async)"
        class="text-gray-300 hover:text-white"
        routerLink="/register"
        routerLinkActive="font-bold"
        >Registrarse</a
      >
      <a
        *ngIf="isLoggedIn$ | async"
        class="text-gray-300 hover:text-white"
        routerLink="/posts"
        routerLinkActive="font-bold"
        >Listado de Posts</a
      >
      <a
        *ngIf="isLoggedIn$ | async"
        class="text-gray-300 hover:text-white"
        routerLink="/posts/create"
        routerLinkActive="font-bold"
        >Crear Post</a
      >
      <button
        *ngIf="isLoggedIn$ | async"
        class="text-gray-300 hover:text-white"
        (click)="logout()"
      >
        Cerrar Sesión
      </button>
    </div>

    
    <div class="md:hidden">
      <button
        (click)="toggleMenu()"
        class="text-gray-300 hover:text-white focus:outline-none"
      >
        <svg class="w-6 h-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16m-7 6h7" />
        </svg>
      </button>
    </div>
  </div>

 
  <div
    *ngIf="menuOpen"
    class="md:hidden bg-gray-800 space-y-2 p-4 text-center"
  >
    <a
      *ngIf="!(isLoggedIn$ | async)"
      class="block text-gray-300 hover:text-white"
      routerLink="/login"
      routerLinkActive="font-bold"
      >Iniciar Sesión</a
    >
    <a
      *ngIf="!(isLoggedIn$ | async)"
      class="block text-gray-300 hover:text-white"
      routerLink="/register"
      routerLinkActive="font-bold"
      >Registrarse</a
    >
    <a
      *ngIf="isLoggedIn$ | async"
      class="block text-gray-300 hover:text-white"
      routerLink="/posts"
      routerLinkActive="font-bold"
      >Listado de Posts</a
    >
    <a
      *ngIf="isLoggedIn$ | async"
      class="block text-gray-300 hover:text-white"
      routerLink="/posts/create"
      routerLinkActive="font-bold"
      >Crear Post</a
    >
    <button
      *ngIf="isLoggedIn$ | async"
      class="block text-gray-300 hover:text-white w-full text-left"
      (click)="logout()"
    >
      Cerrar Sesión
    </button>
  </div>
</nav>

<router-outlet></router-outlet>